/*Font family start*/
@font-face{
	font-family: m100;
	src:url("../FONTS/m100.eot")
}
@font-face{
	font-family: m100;
	src:url("../FONTS/m100.otf")
}
@font-face{
	font-family: m300;
	src:url("../FONTS/m300.eot")
}
@font-face{
	font-family: m300;
	src:url("../FONTS/m300.otf")
}
@font-face{
	font-family: m500;
	src:url("../FONTS/m500.eot")
}
@font-face{
	font-family: m500;
	src:url("../FONTS/m500.otf")
}
/*Custom CSS start*/
.container{
	margin: 0 auto;
	width: 100%;
}
.container-fluid{
	margin: 0 auto;
	width: 1160px;
	height:  auto;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.text-center{
	text-align: center;
}
.text-white{
	color:white;
}
.fix{
	overflow:hidden;
}
/* Top bar start*/
.topbar_wrapper {
	padding: 5px 0;
}

.topbar {
}

.contact {
	font-size: 12px;
	font-family:  m300;
}

.phone > p {
}

.phone {
	margin-right: 20px;
}

.phone > p > img{
	width: 6px;
	margin-top: -4px;
}

.email {
}

.email > p {
	font-size:  13px;
	margin-top: 10px;
}

.email > p > img{
	width: 13px;
}

.top.menu {
	padding-top: 15px;
}

.top.menu > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.top.menu > ul > li{
	display: inline-block;
	margin-left: 20px;
}

.top.menu > ul > li > a{
	display: block;
	text-decoration: none;
	color: #333;
	font-family: m300;
	font-size: 14px;
}

.top.menu > ul > li > a:hover{
	color: #666;
}
/* Header start*/
.header_wrapper {
	background: #f5f6f1;
	padding: 60px 0;
	margin-bottom: 40px;
}
.header {
}
.logo{
	margin-right: 230px;
}
.logo_text {
}
.logo_text > h1 {
	font-family: fantasy;
	color:  #463f3a;
	font-size:  44px;
	margin: 0;
	line-height: 38px;
}
.logo_text > p {
	font-size:  12px;
	font-weight: 600;
	font-family: m300;
	margin: 0;
}
.logo_icon {	
}
.logo_icon > img{
	padding-top: 0;
	padding-left:  10px;
}
.navigation {
	padding-top: 15px;
}
.navigation > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation > ul >li {
	display: inline-block;
	margin-left:  10px;
}

.navigation > ul > li a{
	display: block;
	color: #444;
	text-decoration: none;
	font-family: m500;

}

.navigation > ul > li > a:hover {
	color: #666;
}
#navii li:first-child :before {
	content:"";
	
}
 .navigation li :before, .f_navigation li :before, .top.menu li :before{
	content:"/";
	color:#e65753;
	font-weight: bold;
}

.cart {
}

.cart_text {
	margin-right: 15px; 
}

.cart_text > p {
	margin: 0;
	font-family:  m300;
	color: #333;
}

.cart_text > h4 {
	margin: 0;
	color:#333; 
}

.cart_icon {
}

.cart_icon > img {
	width: 45px;
	padding-top: 5px; 
}
/* Slider start*/
.slider_wrapper {
	margin-bottom: 30px;
}

.slider {
}

.slider_back {
	position:  relative;
}
.slider_back > img {
	width: 100%;
}

.slider_text {
	position:  absolute;
	top: 80px;
	left: 100px;
}

.slider_text > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.slider_text > ul > li {
}

.slider_text > ul > li > a{
	display: block;
	color: white;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	font-size: 61px;
	font-weight:  bold;
}

.slider_image {
	position: absolute;
	top:  172px;
	right: 0;
}
	/*  Service start*/
.service_wrapper {
}

.services {
}

.service {
	background:  #f5f6f1;
	margin-right:  30px;
	padding: 20px;
	width: 326px;
	text-align:  center;
}
.service:last-child {
	background:  #f5f6f1;
	padding: 20px;
	margin-right: 0;
	width: 326px;
	text-align:  center;
}
.service > h1 {
	color: #463f3a;
	font-family:  "Oswald", sans-serif;
	margin: 0;
}
.service > p {
	font-family: m300;
	color: #463f3a;
	margin: 0;
}
.service > p > a {
	font-family: m500;
	color: #f55856;
	margin: 0;
	text-decoration: none;
}

.service > a {
	font-family: m500;
	color: #463f3a;
	margin: 0;
	text-decoration: none;
}
/* Portfolio One start*/
.portfolio_one_wrapper {
	background: #f8f8f8;
	padding:  40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 0 auto;
}

.portfolio_one {
	background: #f8f8f8;
	padding: 40px 0;
}

.heading_one {
	position:  relative;
	background: url("../IMAGES/linee.png");
	height: 3px;
	margin-bottom:  40px;
	line-height:  12px;
}
.heading_one > h1{
	font-family: "Oswald", sans-serif;
	position: absolute;
	left: 420px;
	top: -28px;
	color: #463f3a;
	background: #f8f8f8;
	padding:  5px 15px;
}
.heading_one > img {
	width:  100%;
	height: 1px;
}


.one_wrapper {
	width:  373px;
	margin-right:  20px;
}
.one_wrapper:last-child {
	width:  373px;
	margin-right:  0;
}

.one_wrapper > img {
	width: 100%;
}
.one{
	background: white;
	padding: 10px 20px;

}
.one > h1 {
	font-family: "Oswald", sans-serif;
	color: #463f3a;
	margin:  0 0 12px 0;
}
.one > p {
	margin:  0 0 12px 0;
	color: #463f3a;
	font-family: italic;	
}
.one > p > a{
	font-style: normal;
	color:  #f55856;
	text-decoration:  none;
	font-family:  m500;
}
/* Portfolio two start*/
.portfolio_two_wrapper {
	padding:  40px 0;
	margin: 0 auto;
}

.heading_two{
	position: relative;
	background: url("../IMAGES/linee.png");
	height: 3px;
	margin-bottom:  40px;
	line-height:  12px;
}
.heading_two > h1 {
	font-family: "Oswald", sans-serif;
	position: absolute;
	left: 420px;
	top: -28px;
	background: white;
	color: #463f3a;
	padding:  5px 15px;
}
.heading_two > img {
	width: 100%;
	height:1px;
}
.two_wrapper {
	margin-right: 20px;
	width: 275px;
}
.two_wrapper:last-child {
	margin-right: 0px;
	width: 275px;
}
.two_wrapper > img {
	width: 100%;
}
.two {
}
.two > p{
	font-family: m300;
	margin: 0;
	padding: 10px 0;
}
.two > h4{
	margin: 0;
}
.two > p >a{
	text-decoration: none;
	background-color: #463f3a;
	display: block;
	color: white;
	padding: 5px 20px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 23px;
	font-weight: bold;
}  /* Portfolio three start*/
.portfolio_three_wrapper {
	background: #f8f8f8;
	padding:  40px 0;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin:  0 auto;
}
.three_wrapper {
	margin-right: 20px;
	width: 275px;
}
.three_wrapper:last-child {
	margin-right: 0px;
	width: 275px;
}
.three_wrapper > img {
	width: 100%;
}
.three {
}
.three > p{
	font-family: m300;
	margin: 0;
	padding: 10px 0;
}
.three > h4{
	margin: 0;
}
.three > p >a{
	text-decoration: none;
	background-color: #463f3a;
	display: block;
	color: white;
	padding: 5px 20px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 23px;
	font-weight: bold;
}

/* Blog start*/
.blog_wrapper {
	margin: 0 auto;
	padding: 40px 0;
	
}

.blog_one {	
}
.four_wrapper {
	width:  373px;
	margin-right:  20px;
}
.four_wrapper:last-child {
	width:  373px;
	margin-right:  0;
}

.four_wrapper > img {
	width: 100%;
}
.four{
	}
.four > h4 {
	font-family: m300;
	color: #000;
	margin:  0px 0 12px 0;
}
.four > p {
	margin:  0 0 12px 0;
	color: #463f3a;
		
}
.four > p > a{
	color:  #f55856;
	text-decoration:  none;
	font-family:  m500;
} /* Footer Top start*/
.footer_top_wrapper {
	background: #f2f2f0;
}
.footer_top {
}
.footer_top > h1{
	margin: 0;
	font-family: "Oswald", sans-serif;
	color: #463f3a;
	font-size: 35px;
	padding-top: 45px;
}
.footer_top > p{
	margin: 0;
	font-family: m300;
	color: #463f3a;
	padding: 0px 0 35px;
}
.footer_top > p > a{
	color: #f8605d;
	text-decoration: none;
}
/* Footer Middle start*/
.footer_middle_wrapper {
	background: #463f3a;
	padding: 60px 0 40px;	
}

.footer_middle {
}

.f_logo{
	margin-right: 230px;
}

.f_logo_text {
}

.f_logo_text > h1 {
	font-family: fantasy;
	font-size:  44px;
	margin: 0;
	line-height: 38px;
}

.f_logo_text > p {
	font-size:  12px;
	font-weight: 600;
	font-family: m300;
	margin: 0;
	font-family: fantasy;
}

.f_logo_icon {	
}

.f_logo_icon > img{
	padding-top: 0;
	padding-left:  10px;
}

.f_navigation {
	padding-top: 0;
}

.f_navigation > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.f_navigation > ul >li {
	display: inline-block;
	margin-left:  10px;
}
.f_navigation > ul > li > a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: m500;
}
.f_navigation > ul > li > a:hover {
	color: #eee;
}
.f_navigation > p{
	font-size: 13px;
}
.top_icon{ 
	background: rgba(0,0,0.2);
	margin-top: 10px;
	padding: 9px 15px 15px;
}
.top_icon > img {
	padding-top: 5px; 
} /* Footer Bottom start*/
.footer_bottom_wrapper {
	padding: 15px 0;
	background: #eeeeee;
}
.footer_bottom {
}
.social {
}
.social > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.social > ul >li{
	display: inline-block;
	margin-right: 12px;
}
.social > ul > li > a{
}
.social > ul > li > a:hover{
}
.copyright {
}
.copyright > p{
	margin: 0;
	font-family: m300;
	font-size: 14px;
}
.copyright > p > a{
	color:  #f55856;
	text-decoration: none;
	font-family: m500;
}